@media all and (max-width: 768px){
	.col-1-3{
		width: 48%;
	}
	
}

@media all and (max-width: 600px){
	.col-1-3{
		width: 98%;
	}
	.subscribe input[type="submit"]{
		margin-top: 10px;
    }
	
}
@media all and (max-width: 320px){
	.subscribe input[type="email"]{
	padding: 12px 60px 12px 5px;

	}

	.subscribe input[type="submit"]{
		margin-top: 10px;
	}
}